body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #7581a1;
}

a {
    text-decoration: none;
}

h1  {
    color: #192b59;
    font-size: 80px;
    font-weight: 600;
}

.nav {
    color: #6e7ea9;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: white;
    background-color: #1085e4;
    border: 1px solid #1085e4;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: white;
}

.btn-secondary {
    color: #7e8bae;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 30px;
}

.btn-secondary:hover {
    background-color: white;
}

.btn-free {
    font-size: 12px;
    font-weight: 400;
    background-color: #1085e4;
    padding:  20px 56px;
    letter-spacing: 1.7px;
}

.btn-group a + a {
    margin-left: 15px; 
}

.btn-info {
    color: #8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border-radius: 30px;
    padding: 20px 61px;
}

.grid h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 700;
}

.grid h2 span {
    color: #1085e4;
    font-size: 14px;
    font-weight: 800;
    display: block; 
}

.grid-item h3 {
    color: #192b59;
    font-size: 20px;
    font-weight: 600;
}

.grid-item a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.grid-author {
    color: #1085e4;
    font-size: 14px;
    font-weight: 400;
}

.grid-author span {
    color: #192b59;
    font-size: 16px;
    font-weight: 700;
}

.page-subscribe h2 span {
    color: #00bffe;
    font-size: 14px;
    font-weight: 800;
    display: block;
}

.page-subscribe h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.page-subscribe p {
    color: #dfe8ff;
    font-size: 18px;
}

.page-software h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
}

.page-software dt {
    color: #5a6789;
    font-weight: 700;
}

.page-stat h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: -2px;
}

.page-stat h2 span {
    color: #1085e4;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: block;
}

.page-stat li {
    color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.page-stat li span {
    color: #bacbdc;
    font-size: 60px;
    font-weight: 700;
    display: block;
}

.page-app h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -2px;
}

.page-app .available-now {
    color: #c4d2dd;
    font-weight: 700;
    text-transform: uppercase;
}

.page-analytics h2 {
    color: #192b59;
    font-size: 50px;
    font-weight: 600;
}

.page-analytics a {
    color: white;
    background-color: #1085e4;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.page-screen h2 span {
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}

.page-screen h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
}

.page-clients h2 span {
    color: #85c8ff;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}

.page-clients h2 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

.box-clients .name {
    color: #000958;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

.box-clients .position {
    color: #1085e4;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.page-plan h2 span {
    color: #1085e4;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    letter-spacing: 3px;
}

.page-plan h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    font-weight: 700;
}

.box-price-item p strong {
    color: #0084ff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box-price-item .active {
    color: white;
}